html, body, #root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container-principal {
    margin: 20px 0;
    width: 70%;
}

.content-menu {
    display: flow-root;
    margin: 10px 0;
}

.content-menu .menu {
    display: flex;
    justify-content: flex-end; 
    float: right;
}

.content-menu .menu .item-menu {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}

.content-menu .menu .item-menu:hover {
    color: #0d0091;
}